@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

.gm-style .gm-style-iw-c {
  background-color: #ffffffc2;
  overflow: hidden !important;
}

.gm-style .gm-style-iw-d {
  padding-right: 12px;
  padding-bottom: 12px;
  overflow: hidden !important;
}

.gm-style iframe + div {
  border: none !important;
}

.gm-style-iw-chr > button {
  display: none !important;
}

.step:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  width: calc(4rem + 1px);
  height: 2px;
  @apply bg-slate-400;
}

/* width */
::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.scroll-area-flex [data-radix-scroll-area-viewport] > div {
  display: flex !important;
  flex-direction: column !important;
  gap: 1rem;
}

@layer utilities {
  .divided-background {
    background: linear-gradient(to right, #dbd4ff 50%, white 50%);
  }

  .divided-background-2 {
    background: linear-gradient(to left, #dbd4ff 50%, white 50%);
  }

  .p-content {
    @apply px-6 pt-10 sm:px-10 md:px-8 md:pt-12 lg:px-10 xl:px-20 xl:pt-16;
  }

  .p-content-full {
    @apply px-6 py-10 sm:px-10 md:px-8 md:py-12 lg:px-10 xl:px-20 xl:py-16;
  }
}
